@font-face {
  font-family: 'Comfortaa';
  src: url('../font/comfortaa/Comfortaa-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../font/comfortaa/Comfortaa-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../font/comfortaa/Comfortaa-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
